{% extends 'base.html' %}

{% block content %}
<h2>{{ author.name }}</h2>
<p>{{ author.description }}</p>
<p>Score : {{ author.score }} </p>

<div class="my-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for book in author.book_set.all %}
            <tr>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.title }}</td>
                <td>{{ book.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
