{% extends 'base.html' %}

{% block content %}
<!-- <h3 class="text-center mb-3">Book List</h3> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
        <tr>
            <th scope="row">{{ book.id }}</th>
            <td>{{ book.title }}</td>
            <td> 
                <a href="{% url 'author_details' book.author.id %}">{{ book.author }}</a>
            </td>
            <td>{{ book.rating }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
